.waitingroom-layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1c1b1f;
  background-image: url('../assets/images/cazino_table.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.waitingroom-main {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
